.featured__item__text.product-list{
    padding: 10px;
    text-align: left;
}
.featured__item__text.category{
   
    padding: 20px;
}
.like-icon{
    color: #3f3d59;
    position: relative;
    top: 9px;
}
.icon-color{
    color: #3f3d59;
}
.categories_top_bar {
    background-color: #fff;
    padding: 15px;
  }
  
  .categories_tab_menu ul {
    list-style: none;
    display: flex;
    gap: 10px;
  }
  
  .categories_tab_menu a {
    color: #333;
    cursor: pointer;
    text-decoration: none;
  }
  
  .categories_tab_menu a.active {
    font-weight: bold;
    color: #007bff;
  }
  
  .grid-view .col-lg-3 {
    display: block;
  }
  
  .list-view .col-lg-3 {
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    width: 100%;
  }
  
  .product__discount__item__pic {
    height: 175px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    position: relative;
  }
  
  .featured__item {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 30px!important;
  }
  
  .featured__item__text {
    text-align: center;
  }
  
  .list-view .featured__item__text {
    text-align: left;
    padding-left: 15px;
  }
  .featured__item:hover{

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  }
 
  .featured__item:hover .featured__item__pic .featured__item__pic__hover{
    top: 7px;
    text-align: right !important;
    left: -9px !important;
  }
  .product_select .nice-select {
    float: none;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    width: 200px;
    border: 1px solid #D2D2D2;
    margin-left: 10px;
    margin-top: 10px;
}


/* Container styling for the image */
.featured__item__pic {
    height: 150px;
    background-size: cover;
    background-position: center;
    position: relative;
    border-radius: 8px;
    overflow: hidden; /* Ensures zoom effect doesn't go outside the boundaries */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
  }
  
  /* Zoom on hover */
  .featured__item__pic:hover {
  
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); /* Add subtle shadow for depth */
  }
  
  /* Optional: Hover effect for hover icons */
  .featured__item__pic__hover li a:hover {
    color: #ff0000; /* Change icon color on hover */
  }
  .ads_price_date .date {
    margin-top: 10px;
    font-size: 16px;
    color: #6c757d;
}
.ads_price_date .price {
    font-size: 20px;
    font-weight: 700;
    color: #3f3d59;
    margin-top: 10px;
}
.product__pagination a.active{
    background: #3f3d59;
    border-color: #3f3d59;
    color: #ffffff;
}
/* .banner-headding, .banner-headding a, .banner-headding span{
    color: #3f3d59 !important;
} */

.for_blog.feat_property:hover{
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.blog-headding{
    color: #3f3d59 !important;
}
.blog__details__text .title {
    font-size: 36px;
    font-weight: 700;
}
.meta, .tags, .comment, .comment_replay{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.blog_date {
    margin-top: 15px;
    margin-bottom: 15px;
}
.blog_date .meta li {
    display: inline-block;
    font-size: 14px;
    color: #6D7588;
    text-transform: uppercase;
}
.blog_date .meta li a + a::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #6D7588;
    left: -9px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.mbp_blockquote {
    background-color: #f7f7f7;
    border-left: 8px solid #3f3d59;
    border-radius: 8px;
    height: 147px;
    margin-top: 25px;
    padding: 25px 30px 30px 40px;
}
.mbp_blockquote .blockquote {
    position: relative;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}
.mbp_blockquote .blockquote span {
    color: #bbb;
    font-size: 16px;
    font-style: italic;
    line-height: .333;
}
.mbp_blockquote .blockquote em {
    color: #484848;
    font-size: 18px;
    font-style: italic;
    line-height: 1.714;
}
.blog_details_tag {
    padding-top: 30px;
}
.blog_details_title .title {
    font-size: 18px;
    font-weight: 700;
    color: #3C4559;
    border-bottom: 1px solid rgba(210, 210, 210, 0.4);
    position: relative;
    padding: 10px 0;
}
.blog_details_title .title::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 15px;
    background-color: #3f3d59;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 50%;
    left: -16px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.blog_details_tag .details_tag {
    padding-top: 10px;
}
.blog_details_tag .details_tag .tags li {
    margin-top: 10px;
    display: inline-block;
}
.blog_details_tag .details_tag .tags li a {
    font-size: 16px;
    font-weight: 400;
    color: #3C4559;
    background-color: rgba(188, 193, 206, 0.15);
    padding: 6px 15px;
    border-radius: 2px;
}

i, span, a {
    display: inline-block;
}
.blog__details__text {
    margin-bottom: 15px !important;
}
.blog_details_comment .details_comment .comment li .single_comment {
    margin-top: 30px;
}
.blog_details_comment .details_comment .comment li .single_comment .comment_author img {
    border-radius: 50%;
    width: 50%;
}
.blog_details_comment .details_comment .comment li .single_comment .comment_content .date {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.blog_details_comment .details_comment .comment li .single_comment .comment_content .replay {
    font-size: 14px;
    color: #3f3d59;
    margin-top: 15px;
}
.blog_details_comment .details_comment .comment li .comment_replay {
    padding-left: 110px;
}
.blog_details_form .single_form {
    margin-top: 20px;
    position: relative;
}
.blog_details_form .single_form input {
    width: 100%;
    height: 50px;
    padding: 0 25px;
    padding-left: 40px;
    border-radius: 5px;
    border: 1px solid #BCC1CE;
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}
.blog_details_form .single_form textarea {
    resize: none;
    padding: 0 25px;
    padding-top: 15px;
    height: 175px;
    width: 100%;
}
.blog_details_form .single_form i {
    position: absolute;
    top: 17px;
    left: 15px;
    font-size: 16px;
    color: #6D7588;
}
.blog_details_form .single_form textarea{
    border-radius: 5px;
    border: 1px solid #BCC1CE;
}
.main-btn{
   
    color: #ffffff;
    font-weight: 700;
    background: #3f3d59;
    text-align: center;
    border-radius: 10px;
    border: none;
}
.blog__sidebar__item ul{
    margin-left: 20px;
}
.border-padding{
    padding: 15px;
}
.blog-details{
    margin-top: 60px;
}
.section-title{
    text-align: left !important;
}
.d-lg-block{
    display: block;
}
@media only screen and (max-width: 1023px)  {
    .mbp_blockquote{
        height: 221px;
    }
    .blog_details_comment .details_comment .comment li .comment_replay{
        padding-left: 0px !important;
    }
}
@media only screen and (max-width: 600px) {
    
    .humberger__menu__widget .hero__categories__all i, .humberger__menu__widget .hero__categories__all span{
        color:#000;
    }
    .humberger__menu__widget .hero__categories__all{
        border: 2px solid #000;
    }
    .form.hero__search__form1, .hero__search__form form input {
        border: 2px solid #000;
        cursor: pointer;
        border-radius: 10px;
    }
    .hero__categories{
        margin-bottom: 10px;
    }
}
.sidebar_categories {
    background-color: #fff;
    border-radius: 10px;
}
.sidebar_title {
    border-bottom: 1px solid rgba(210, 210, 210, 0.4);
    padding: 15px 0;
    position: relative;
}

.sidebar_title .title {
    font-size: 18px;
    font-weight: 700;
    color: #3f3d59;
}
.sidebar_categories_content .card-header{
    background-color: #fff !important;
    border-bottom: 0px !important;
}
.sidebar_categories_content .accordion{
    box-shadow: none!important;
    padding: 0px !important;
}
.fastfood {
    padding-left: 5px;
    padding-right: 5px;
}
@media only screen and (max-width: 1023px) {
    .humberger__open{
        color: #fff;
        border: 1px solid #fff;
        padding-top: 3px;
    }
}
.post_form .single_form input {
    width: 100%;
    height: 40px;
    padding: 0 35px;
    border: 1px solid #BCC1CE;
    color: #6D7588;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
}
.post_form .single_form textarea {
    width: 100%;
    height: 40px;
    padding: 0 35px;
    border: 1px solid #BCC1CE;
    color: #6D7588;
    border-radius: 5px;
    transition: all 0.3s ease-out 0s;
}
.post_form .single_form {
    margin-top: 20px;
    position: relative;
}
.post_form .single_form i::before {
    position: absolute;
    top: 42px;
    left: 15px;
    font-size: 16px;
    color: #6D7588;
}
.post_title .title {
    font-size: 18px;
    font-weight: 700;
    color: #3C4559;
    border-bottom: 1px solid rgba(210, 210, 210, 0.4);
    position: relative;
    padding: 10px 0;
}
.post_title .title::before {
    position: absolute;
    content: '';
    width: 3px;
    height: 15px;
    background-color: #FF4367;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    top: 50%;
    left: -20px;transform: translateY(-50%);
}
.post_form .single_form {
    margin-top: 20px;
    position: relative;
}
.post_form  input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0px!important;
    height: unset !important;
    width: auto !important;
}
.single_form textarea{
    box-sizing: border-box;
    padding: 8px 35px!important;
        height: unset !important;
}
.profile_user .user_author {
    background-color: #3f3d59;
    padding: 15px;
    border-radius: 10px;
}
.author-img{
    width: 60%;
    border-radius: 50%;
}
.user_content .author_name, .user_content small{
    color: #fff !important;
}
#notificationDropdown {
    display: none; /* Dropdown is hidden by default */   
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-height: 300px;
    overflow-y: auto;
    z-index: 9999;
  }
  span#closeNotificationDropdown {
    display: block !important;
    padding: 5px;
    border-radius: 30%;
}
.header .shopping-list li {
    overflow: hidden;
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 8px;
    margin-bottom: 8px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
}
.shopping-list li a{
    color: #6f6f6f!important;
}  
.shopping-list li a p{
    color: #000;
    font-weight: 600!important;
}
.notification-title{
    color: #3f3d59!important;
}
.total-count.badge{
    position: absolute;
    top: 5px;
    right: -20px;
    background: #fff;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color: #3f3d59;
    ;
    border-radius: 100%;
    font-size: 10px;
}